<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @team.name %>
</p>

<p>
  <b>Информация:</b>
  <%= @team.info %>
</p>

<p>
  <b>Image url:</b>
  <%= @team.image_url %>
</p>
<p>
  <b>Группа:</b>
  <%= @team.group %>
</p>
<p>
  <b>Игры:</b>
  <% @team.matches.each do |i| %>
  <p><%= Team.find_by_id(i.home_team_id).name %> - <%= Team.find_by_id(i.away_team_id).name %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>