<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Первая команда" %>
    <%= f.collection_select(:home_team_id, Team.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label "Вторая команда" %>
    <%= f.collection_select(:away_team_id, Team.all, :id, :name) %>
  </div>
  

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>